.roadMapContainer {
    background-image: url("./assets/bg.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    
    height: max-content;

}

.roadMap{
    
    position: relative;
    top: 15vw;
}
.road {
    position: relative;
    
}