.roadMapContainer {
    background-image: url("../../assets/roadMap_bg.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;    
    height: max-content;
}

.road {
    position: relative;
}