body {
    background-color: #4C575B;
    padding: 0%;
    margin: 0%;
    color: white;
}

.roadMapContainer {
    background-image: url("./assets/bg.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    
    height: max-content;

}

.roadMap{
    
    position: relative;
    top: 25vw;
}
.road {
    position: relative;
    
}