.mainSection {
    background-image: url("../../assets/mainsection_bg.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    height: max-content;
    
}

.boxImage {
    padding: 0 10%;
    position: relative;
    top: 15vw;
}


.text {
    position: relative;
    bottom: 6vw
}
