.DAO_container {
    color: white;
    height: 100%;
    border: 3px solid blue;
}

.DAO_bg_image {
    bottom: 10vw;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    width: 100%;
    margin-bottom: -10vw;
    display: block;
}

.bookImgDiv {
    position: relative;
    text-align: center;
    color: white;
    width: 80%;
    top: "12vw";
}

.bookText {
    position: absolute;
    top: 1vw;
    left: 5vw;
    text-align: left;
    overflow: hidden;
    max-height: 90%;

    /* transform: translate(-50%, -50%); */
}
