.DAO_container{
    border: 5px solid blue;
    width: auto;
    color: white;
    height: auto;

}
.DAO {
    padding: 0 10%;
    
}

.DAO img {
    height: auto;
    width: 80%;

}

.DAO_container_image {
    width: 100%;
    height: auto;
    border: 1px solid yellow;
    position: relative;
    bottom: -30%;
}
