
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: local(''),
         url(../../Assets/Fonts/antiquity-print.ttf) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url(../../Assets/Fonts/antiquity-print.ttf) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Billy-Light';
    font-style: normal;
    src: local(''),
         url(../../Assets/Fonts/Billy-Light.ttf) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url(../../Assets/Fonts/Billy-Light.ttf) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Billy-Bold';
    font-style: normal;
    src: local(''),
         url(../../Assets/Fonts/Billy-Bold.ttf) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url(../../Assets/Fonts/Billy-Bold.ttf) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

:root {
    background-color: #4C575B;
    padding: 0%;
    margin: 0%;
    color: white;
}



body{
   font-family: 'Open Sans',serif;
}