.footerContainer {
    width: 100%;
    height: max-content;
    position: relative;
    top: 25vw;
}

.footerIcon {
    position: relative;
    top: 35vw;
}

.footerText {
    position: relative;
    top: 40vw;
    color: #4c575b;
    font-weight: 800;
}

.footerIcon img {
    width: 7vw;
    margin: 1vw;
    height: auto;
}
.footerText {
    letter-spacing: 2px;
}
